body {
  background-color: rgb(96, 61, 18);
}

.root {
  min-height: 100vh;
  margin: 16px;
  padding: 16px;
  border-radius: 16px;
  background-color: rgb(231, 240, 214);
  box-shadow: inset 0px 0px 5px rgb(128, 92, 9);
}


.title {
  color: rgb(74, 36, 34);
  font-size: 150px;
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 0;
  margin: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 15px;
  font-size: 30px;
  font-family: "Yuji Mai", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #c4a032;
  padding: 0;
  margin: 0;
}

.card {
  border-radius: 15px;
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(34, 15, 6);
  border: none;
  font-size: 130px;
}

.players {
  padding-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.player {
  height: 100%;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.108);
  border-radius: 15px;
  flex-basis: 30%;
}

.name {
  display: block;
  color: rgb(97, 61, 44);
  font-family: "Yuji Mai", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}

.shoot {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  border: none;
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  color: rgb(119, 20, 20);
}

.tries {
  color: rgb(106, 30, 30);
  text-align: center;
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
}

.dead {
  font-size: 20px;
  font-weight: 800;
  color: rgb(63, 9, 9);
  background-color: rgba(165, 42, 42, 0.504);
  text-align: center;
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}